html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  @media screen and (max-width: 470px) {
      body {
          margin-left: 50px;
          background-color: rgb(58, 58, 58);
          color: rgb(233, 233, 233);
      }
      .main-content {
          font-style: italic;
          max-width: 80%;
          text-align: left;
          font-size: 17px;
      }
      footer {
          max-width: 60%;
          text-align: left;
          font-size: 17px;
      }
      .asides {
          max-width: 70%;
      }
      h2 {
          text-align: center;
      }
      h3 {
          text-align: center;
      }
      header {
          max-width: 70%;
          text-align: center;
      }
      #Autor {
          font-size: 22px;
      }
  }

  @media screen and (max-width: 800px) and (min-width: 471px) {
      body {
          margin: 8%;
          background-color: rgb(94, 94, 94);
          color: rgb(226, 226, 226);
      }
    header {
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .asides {
        justify-content: center;
        display: flex;
        flex-flow: row wrap;
        margin: 20px;
    }
    .main-content {
        max-width: 80%;
        text-align: left;
        margin-left: 50px;
    }
    footer {
        max-width: 68%;
        text-align: center;
        margin-left: 50px;
    }
    h3 {
        font-size: x-large;
    }
    h1 {
        text-align: center;
    }
    header p {
        font-size: xx-large;
    }
  }

@media screen and (min-width: 801px) and (max-width: 1700px){
    body {
        margin: 8%;
        background-color: rgb(179, 179, 179);
        color: rgb(39, 39, 39);
    }
    header {
        justify-content: center;
        font-size: x-large;
        text-align: center;
        max-width: 80%;
    }
    header p {
        font-weight: bold;
        font-size: xx-large;
    }
    header ul {
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
    }
    .asides {
        font-size: x-large;
        font-weight: bold;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        justify-content: space-evenly;
    }
    .main-content {
        max-width: 90%;
        font-size: 24px;
        text-align: left;
        margin-left: 50px;
    }
    h1 {
        text-align: center;
    }
    footer {
        max-width: 70%;
        font-size: x-large;
        text-align: center;
        margin-left: 170px;
    }
    #Autor {
        font-weight: bold;
        font-family: fantasy;
    }
}